@use '../../styles/partials/keyframes' as *;

.portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 4rem;

  &__title {
    font-size: 2.5rem;
    font-weight: 300;
    animation: slideRight 1s, fadeIn 1s;
    animation-delay: 0.5s;
  }

  &__grid {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  &__image {
    width: 47.5%;
    margin: 0.5rem;
    border-radius: 4px;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
