.portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 5rem;

    &__grid {
        width: 95%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__image {
        width: 47.5%;
        margin: 0.5rem;
        border-radius: 4px;
    }
}