@use '../../styles/partials/keyframes' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.skills {
  padding: 4rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  &__title {
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: 300;
    animation: slideRight 1s, fadeIn 1s;
    animation-delay: 0.5s;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      flex-direction: row;
    }
  }
}

.skillcard {
  width: 20rem;
  height: 22rem;
  margin: 1rem;
  background-color: whitesmoke;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 4px black;

  &__icon {
    width: 4rem;
    margin: 2rem;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__list-item {
    list-style: none;
    margin: 0.25rem;
  }
}
