@use '../../styles/partials/keyframes' as *;

.about {
  padding: 4rem;
  &__title {
    font-size: 2.5rem;
    font-weight: 300;
    animation: slideRight 1s, fadeIn 1s;
    // animation-delay: 0.5s;
  }
}
