@import '../../styles/image-gallery.scss';

.modal {

    &__background {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 11;
    }

    &__container {
        width: 500px;
        // height: 500px;
        position: fixed;
        top: 10%;
        left: calc(50% - 250px);
        border-radius: 12px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        padding: 25px;
        z-index: 12;
    }

    &__carousel {
        height: 250px;
        overflow: hidden;
        // width: 700px;
    }

    &__image {
        height: 400px;
    }

    &__title {
        display: inline-block;
        text-align: center;
        margin-top: 10px;
    }

    &__body-text {
        margin-top: 0;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__cta {
        border: 2px solid forestgreen;
        // box-shadow: 2px 2px 4px black;
        height: 3rem;
        width: 10rem;
        transition: all 1s;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 4px;
        text-transform: uppercase;
        background-color: transparent;

        &:hover {
            background-color: forestgreen;
            transition: all 1s;
            color: white;
        }
    }

    &__link {
        color: inherit;
        &:hover {
            transition: all 1s;
            color: white;
        }
    }

    &__close {
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
        transition: all 1s;
        &:hover {
            transition: all 1s ease;
            color: forestgreen;
            font-weight: 500;
        }
    }
}

.display-flex {
    display: flex;
    transform: scale(1);
    transition: all 0.3s ease;
}
  
.display-none {
    display: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
}