@use '../../styles/partials/keyframes' as *;
@use '../../styles/partials/colors' as *;

.preview {

    &__container {
        width: 32%;
        margin: 0.5rem;
        overflow: hidden;
        position: relative;
    }

    &__image {
        border-radius: 4px;
        width: 100%;
        // height: auto;
        opacity: 1;
        // display: block;
        transition: 0.5s ease;
        // backface-visibility: hidden;
    }

    &__overlay {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // background-color: #008CBA;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        transform: translateX(20%);
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    }

    &__title {
        font-weight: 600;
        font-size: 1.5rem;
    }

    &__tech {
        color: $color-forest-green;

    }

    &__cta {
        border: 2px solid forestgreen;
        // box-shadow: 2px 2px 4px black;
        height: 3rem;
        width: 10rem;
        transition: all 1s;
        font-size: 1rem;
        cursor: pointer;
        margin-bottom: 2rem;
        border-radius: 4px;
        text-transform: uppercase;
        background-color: transparent;
        transform: translateX(-20%);
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);

        &:hover {
            background-color: forestgreen;
            transition: all 1s;
            color: white;
        }
    }

}

.preview__container:hover .preview__image {
    opacity: 0.2;
}

.preview__container:hover .preview__overlay {
    opacity: 1;
}

.preview__container:hover .preview__text {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.preview__container:hover .preview__cta {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}