$color-bf-blue: #0095FF;
$color-bf-darkblue: #0065AD;
$color-black-olive: #3b3c36;
$color-bf-darkblack: #000000;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;
$color-error: #D22D2D;
$color-silver: #AFAFAF;