.cta {
  margin: 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 4px black;
  height: 3rem;
  width: 13rem;
  transition: background-color 1s;
  font-size: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  background: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));

  &:hover {
    background-color: black;
    transition: background-color 1s;
    color: white;
  }
}
