.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgb(245, 228, 239);
    

    &__title {
        
    }

    &__cta {
        border: 2px solid black;
        box-shadow: 2px 2px 4px black;
        height: 3rem;
        width: 12rem;
        transition: all 1s;
        font-size: 1.5rem;


        &:hover {
            background-color: green;
            transition: all 1s;
            color: white;
        }
    }
}