@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.home {
  background: url('../../assets/images/forest-background-crop-compressed.jpeg') no-repeat center top;
  background-size: cover;
  width: 100%;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: whitesmoke;
  position: relative;
  overflow: hidden;
  margin-bottom: 64px;

  &__image {
    width: 50%;
    max-width: 550px;
  }

  &__title {
    text-align: left;
    margin: 1rem 2rem;
    font-weight: 300;
    font-size: 1.5rem;
    width: fit-content;
    color: white;
    @include tablet {
      margin: 1rem 3rem;
      font-size: 2.5rem;
    }
  }

  &__job-title {
    @extend .home__title;
    font-size: 2.5rem;
    font-weight: 600;
    @include tablet {
      font-size: 3.5rem;
    }
  }

  &__name {
    // color: $color-forest-green;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: flex-start;
    position: absolute;
    bottom: 1rem;

    @include tablet {
      flex-direction: row;
      // position: relative;
      bottom: 2rem;
      left: 2rem;
    }
  }

  &__cta {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 4px black;
    height: 3rem;
    width: 12rem;
    transition: all 1s;
    font-size: 1.25rem;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    background: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

    &:hover {
      background-color: black;
      transition: all 1s;
      color: white;
    }
  }

  //   &__button-bg {
  //     background: black;
  //     // opacity: 0.5;
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     z-index: -1;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //   }
}
