@use '../../styles/partials/mixins' as *;

.navmenu {

    background-color: green;
    height: 3rem;
    width: 100%;

    &--sticky {
        position: fixed;
        top: 0;
        left: 0;
    }

    @include tablet {
        display: flex;
    }

    &__link {
        margin: 0 1rem;
    }
}