@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/keyframes' as *;

.navmenu {
  height: 4rem;
  width: 100%;
  box-shadow: 0 1px 3px black;
  position: absolute;
  bottom: -4rem;
  z-index: 1;
  background: #8e8e8e;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: center;

  @include tablet {
    justify-content: flex-start;
    align-items: center;
    bottom: -4rem;
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    // animation: slideDown 0.75s;
  }

  &__links-wrapper {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    @include tablet {
      flex-direction: row;
      align-items: center;
      margin-left: 6rem;
      height: 100%;
      overflow: unset;
    }
  }

  &__image {
    height: 100%;
    width: auto;
    position: absolute;
    left: 1rem;
  }

  &__link {
    margin: 0 1rem;
    // color: $color-black-olive;
    color: whitesmoke;
    font-size: 2rem;
    width: 12rem;
    transition: all 0.5s ease;
    @include tablet {
      width: unset;
      font-size: 1.5rem;
    }
    &:first-of-type {
      margin-top: 0.75rem;
      @include tablet {
        margin-top: 0;
      }
    }
    &:last-of-type {
      margin-bottom: 0.75rem;
      @include tablet {
        margin-bottom: 0;
      }
    }
  }
}

.navActive {
  font-weight: 600;
  color: white;
  transition: all 0.5s ease;
}
