@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/keyframes' as *;

.navmenu {
  //   background-color: whitesmoke;
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid green;
  position: absolute;
  bottom: -64px;
  z-index: 1;
  background: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    // animation: slideDown 0.75s;
  }

  &__image {
    height: 100%;
    width: auto;
  }

  @include tablet {
    display: flex;
    align-items: center;
  }

  &__link {
    margin: 0 1rem;
    // color: $color-black-olive;
    color: white;
    font-size: 1.5rem;
  }
}
