$primary-color: #FFF0ED;
$primary-color-two: #5BACC3;
$neutral-one: #393939;
$neutral-three: #F7F7F7;
$neutral-four: white;
$font-color-alt: #909090;
$font-color-primary: #393939;
$font-color-second: white;